
//    Font Family

$primary-font	: 'Poppins', sans-serif;

/*--------------------------- Color variations ----------------------*/

// $primary-color	: #4B68A4;
$primary-color	: #2E9CCA;

$title-color	: #222222;
// $text-color		: #777777;
$text-color		: #AAABB8;


$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #222;

$navy       : #001a33;
$light-blue : #2E9CCA;
$med-blue   : #29648A;
